<!--*
*************************************

reTixx - the future of handling tixx

Created by: Joe Ylagan and Sigala Hernandez

*************************************
*-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">reTixx</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>

    <nav th:fragment="nav">
        <p><a>Sign In</a></p>
    </nav>


</body>

<footer th:fragment="foot">
    <hr/>
    <p>2017 <strong>&copy; reTixx Inc.</strong> :: Support.Team@ReTixx.com :: 1 (206) 654-3929</p>

</footer>

</html>